name: MLOps Pipeline - Test & Deploy

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  # ÉTAPE 1 : CONTRÔLE QUALITÉ (CI)
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          lfs: true
      
      - name: Checkout LFS objects
        run: git lfs pull

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.13'  

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install flake8 pytest # Outils pour les tests

      - name: Run Linter (Vérification du code)
        run: |
          flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics

      - name: Run Tests
        run: |
          # Lance tes tests dans le dossier tests/
          pytest

# ÉTAPE 2 : DÉPLOIEMENT (CD)
  deploy:
    runs-on: ubuntu-latest
    needs: test 
    if: github.event_name == 'push' && github.ref == 'refs/heads/master'
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          lfs: true 

      - name: Install and Configure Git LFS
        run: |
          git lfs install
          # On dit à LFS de suivre les fichiers .pkl s'ils ne le sont pas déjà
          git lfs track "*.pkl"
          git add .gitattributes

      - name: Push to Hugging Face
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        run: |
          # Configuration de l'identité Git pour le runner
          git config --global user.email "bot@github.com"
          git config --global user.name "GitHub Action Bot"
          
          # Tentative de push avec LFS
          git push --force https://DataSansMythe:${{ secrets.HF_TOKEN }}@huggingface.co/spaces/DataSansMythe/Prediction-Immobiliere master